<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EntitiesConnection" connectionString="data source=(LocalDB)\v11.0;attachdbfilename=&quot;C:\Users\Nuno\OneDrive\Test Applications\TinyMapperTests\Site\App_Data\Entities.mdf&quot;;integrated security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>